<?xml version="1.0"?>
<robot name="turtlebot3_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
 
<!-- Arguments common to all turtlebots -->
 <xacro:arg name="laser_visual"  default="false"/>
 <xacro:arg name="camera_visual" default="false"/>
 <xacro:arg name="imu_visual"    default="false"/>
 <xacro:arg name="prefix"    default=""/>
 <xacro:arg name="cmd_vel_topic"    default="cmd_vel"/>
 <xacro:arg name="odom_topic"    default="odom"/>
 <xacro:arg name="publish_odom"    default="false"/>
 
<gazebo reference="$(arg prefix)base_link">
  <material>Gazebo/DarkGrey</material>
</gazebo>

<gazebo reference="$(arg prefix)wheel_left_link">
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>500000.0</kp>
  <kd>10.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>0.1</maxVel>
  <fdir1>1 0 0</fdir1>
  <material>Gazebo/FlatBlack</material>
</gazebo>

<gazebo reference="$(arg prefix)wheel_right_link">
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>500000.0</kp>
  <kd>10.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>0.1</maxVel>
  <fdir1>1 0 0</fdir1>
  <material>Gazebo/FlatBlack</material>
</gazebo>

<gazebo reference="$(arg prefix)caster_back_right_link">
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>1000000.0</kp>
  <kd>100.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
  <material>Gazebo/FlatBlack</material>
</gazebo>

<gazebo reference="$(arg prefix)caster_back_left_link">
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>1000000.0</kp>
  <kd>100.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
  <material>Gazebo/FlatBlack</material>
</gazebo>

<gazebo reference="$(arg prefix)imu_link">
<sensor name="imu_sensor" type="imu">
    <always_on>1</always_on>
    <update_rate>20</update_rate>
    <topic>$(arg prefix)imu</topic>
    <gz_frame_id>$(arg prefix)imu_link</gz_frame_id>
</sensor>
</gazebo>

 <gazebo>
    <plugin
      filename="libgz-sim-diff-drive-system.so"
      name="gz::sim::systems::DiffDrive">
      <left_joint>wheel_left_joint</left_joint>
      <right_joint>wheel_right_joint</right_joint>
      <wheel_separation>${wheel_separation}</wheel_separation>
      <wheel_radius>0.033</wheel_radius>
      <child_frame_id>$(arg prefix)base_footprint</child_frame_id>
    </plugin>
        
</gazebo>

  <gazebo reference="$(arg prefix)base_scan">
    <material>Gazebo/FlatBlack</material>
    <sensor type="gpu_ray" name="lds_lfcd_sensor">
<!--       <pose>0 0 0 0 0 0</pose> -->
      <topic>$(arg prefix)scan</topic>
      <gz_frame_id>$(arg prefix)base_scan</gz_frame_id>
      <visualize>$(arg laser_visual)</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>6.28319</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>3.5</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
    </sensor>
  </gazebo>

<!--link : https://www.raspberrypi.org/documentation/hardware/camera/-->
  <xacro:if value="$(arg use_cam)">

  <gazebo reference="$(arg prefix)camera_rgb_frame">
    <sensor name="camera" type="camera">
    <camera>
    <optical_frame_id>$(arg prefix)camera_rgb_optical_frame</optical_frame_id>
    <horizontal_fov>1.047</horizontal_fov>
    <image>
        <width>640</width>
        <height>400</height>
    </image>
    <clip>
        <near>0.3</near>
        <far>100</far>
    </clip>
    </camera>
    <always_on>1</always_on>
    <update_rate>30</update_rate>
    <visualize>true</visualize>
    <topic>$(arg prefix)image</topic>
    <enable_metrics>false</enable_metrics>
</sensor>
  </gazebo>
</xacro:if>
  
   <gazebo>
      <plugin filename="libgz-sim-joint-state-publisher-system.so" name="gz::sim::systems::JointStatePublisher"/>
    </gazebo>
    
</robot>
